@import "../../style/settings/variables";
th {
    border-right: 1px solid $color-principal;
    margin: 20px;
}

th:last-child {
    border-right: 1px solid $gris-claro;
}

.contenedorBotones {
    display: flex;
    justify-content: flex-end;
}