@import "../../style/settings/variables";
.contenedorCotizacion {
    margin-top: 40px;
    .contenedorInput {
        padding: 10px;
    }
    .contenedorSubmit {
        text-align: center;
        margin: 10px 0px;
    }
}